body {
    font-family: "Playwrite GB S";
    background-color: #94c1f4;
}

#header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 22px;
    flex: 0, 1, auto;
}

#container {
    display: flex;
    flex-direction: column;
}