body {
    font-family: "Playwrite GB S";
    background-color: #94c1f4;
}

#header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    flex: 0, 1, auto;
    margin: 0;
}

.header__title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex: 0, 1, auto;
}

.header__empty {
    width: 80%;
    max-width: 250px;
    height: auto;
    flex: 0, 3, auto;
}

.header__author {
    font-size: 16px;
    font-weight: 900;
    width: 80%;
    max-width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    flex: 0, 3, auto;
}

a {
    text-decoration: none;
    color: black;
}

.header__author img {
    width: 100%;
    max-width: 60px;
    height: auto;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    background-color: rgba(75, 87, 109, 0.331);
    display: flex;
    width: 60%;
    height: 80px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu__reset {
    font-family: "Playwrite GB S";
    font-size: 22px;
    font-weight: 900;
    background-color: #94c1f4;
    height: auto;
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    border: 3px solid black;
}